
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        My Tasks
        {% endblock title %}
        {% block content %}
    </title>
</head>
<body>
    <main>
    <div>
        <h1>My Tasks</h1>
        {% if my_tasks|length %}
        <table>
            <thead>
                <tbody>
                <tr>
                    <th>Names</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                </tr>
            </thead>

            {% for task in my_tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.start_date}}</td>
                <td>{{task.due_date}}</td>
                <td>{{task|yesno}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p> you have no tasks </p>
        {% endif %}
    </div>

    </main>

</body>
</html>
{% endblock content %}