<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title%}
    </title>
    {% block content %}
</head>
<body>
    <main>
        <div>
            <h1>{{ details.name }}</h1>
            <p> Feature 13 overview </p>
            <h2> Tasks</h2>
            <p>
                <a href="{% url create_new_task %}">Create a new task</a>
            </p>
            {% if details.tasks.all|length%}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for detail in details.tasks.all %}
                        <td>{{detail.name}}</td>
                        <td>{{detail.assignee}}</td>
                        <td>{{detail.start_date}}</td>
                        <td>{{detail.due_date}}</td>
                        <td>{{detail|yesno}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no tasks</p>
        </div>
    </main>
</body>
</html>
{% endif %}
{% endblock content %}