{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <main>
        <div>
        <h1> My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}"> Create new project</a>
            </p>

            {% if projects_list|length%}
            {% block content %}

        <p>You are not assigned to any projects</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>

                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for Project in project_list%}
                    <td>
                        <li>
                        <a href="{% url 'show_project' project.id%}">{{Show.Project}}</a>
                        </li>

                    </td>
                    <td>{{project.tasks.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>

            </table>


        </div>
    </main>

</body>
</html>
{% endblock content %}
{% endif %}